[Desktop Entry]
Name=Flatwoken Touch Icon Pack
Exec=qmlscene qml/Main.qml
Icon=icons/icon-pack.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
